/.classpath
/.project
/.settings
/target
/build
/gradle
*.prefs
*.png
*.zip
*.log
*.iml
/eclipse
/.metadata
/test-output
.idea
.gradle
/bin
/logs
/helpStuff/task.txt
/velocity.log
/out
/.allure
/allure-results
